<div class="col-md-6 user-container">

    <form [formGroup]="updateTaskForm" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
          <label for="taskId">Task Id:</label>
          <input type="text" formControlName="taskId" placeholder="taskId" name="taskId" class="form-control" id="taskId">
        </div>

        <div class="form-group">
            <label for="parentId">Parent Id:</label>
            <input type="text" formControlName="parentId" placeholder="parentId" name="parentId" class="form-control" id="parentId">
          </div>
        
      <div class="form-group">
        <label for="Task">Task:</label>
        <input type="text" formControlName="task" placeholder="task" name="task" class="form-control" id="task">
      </div>

      <div class="form-group">
        <label for="priority">Priority:</label>
        <input type="text" formControlName="priority" placeholder="priority" name="priority" class="form-control" id="priority">
      </div>
  
      <div class="form-group">
        <label for="parentName">Parent Task:</label>
        <input type="text" formControlName="parentName" placeholder="parentName" name="parentName" class="form-control" id="parentName">
      </div>
  
      <div class="form-group">
        <label for="startDate">Start Date:</label>
        <input type="text" formControlName="startDate" placeholder="startDate" name="startDate" class="form-control" id="startDate">
      </div>
  
      <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="text" formControlName="endDate" placeholder="endDate" name="endDate" class="form-control" id="endDate">
      </div>

      <button class="btn btn-success">Update Task</button>
  
    </form>
  </div>
  