
<div class="task-container">
  <br>
  <div  *ngFor="let task of tasks" >
    <div style="text-align: center">
      <table style="width: 80%; margin-left: 200px; margin-right: 100px;">
        <tr>
          <td style="width: 200px">
            <p style="border-style: solid;background-color:rgb(241, 201, 19);width: 180px;height: 100px;">
                <b>Task</b>
                <br>
                <br>
                 {{task.task}}
            </p>
          </td>   
          <td style="width: 200px">
            <p style="border-style: solid;background-color: rgb(34, 226, 240) ;width: 180px;height: 100px;align-content: center">
                <b>Parent Task</b>
                <br>
                <br>{{task.parentName}}
           </p>
          </td>
          <td style="width: 120px">
            <p style="border-style: none;color: rgb(213, 18, 231);width: 100px;height: 100px;align-content: center">
                <b>Priority</b> 
                <br>
                <br> {{task.priority}}
           </p>
          </td>
          <td style="width: 120px">
            <p style="border-style: none;color: red;width: 100px;height: 100px;align-content: center">
                <b>Start Date</b>
                <br>
                <br>{{task.startDate}}
           </p>
          </td>
          <td style="width: 120px">
            <p style="border-style: none;color: red;width: 100px;height: 100px;align-content: center">
                <b>End Date</b>
                <br>
                <br>{{task.endDate}}
           </p>
          </td>
          <td  style="width: 100px"><button class="btn btn-warning" (click)="editTask(task)"> Edit</button></td>
          <td  style="width: 100px"><button class="btn btn-danger" (click)="deleteTask(task)"> Delete</button></td>
         </tr>  
         <tr>
            <td colspan="10">
                    <hr style="border-top: dotted 1.5px;" />
            </td>
         </tr>
      </table> 
      </div> 
      
  </div> 
  
</div>